@media (min-width: 1023px){
    body {
        background: url(../images/bg-desktop.svg) no-repeat;
        background-size: cover;
        background-color: hsl(257, 40%, 49%);
        align-items: center;
        justify-content: center;
        display: flex;
        height: 100vh;
        box-sizing: border-box;
    }

    main{
        height: 100vh;
        max-width: 1440px;
        padding: 10px 60px 10px 60px;
       }

    .header {
        width: 100%;
        align-self: flex-start;
    }

    .header img {
        max-width: 20%;
    }

    .caixa-de-texto {
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
    }

    .caixa-de-texto .illustration img {
        max-width: 100%;
        padding-top: 30px;
    }
    .illustration, .texto{
        flex: 1;
    }

    .caixa-de-texto .texto{
        padding-left: 30px;
        align-self: flex-start;
        padding-top: 80px;
    }

    .caixa-de-texto .texto .font-heading{
        font-size: 3.5rem;
    }

    .caixa-de-texto .texto .font-body{
        font-size: 2rem;
        color: rgb(238, 238, 238);
    }
    .caixa-de-texto .texto .botao{
        align-items: self-start;
        position: absolute;
        z-index: 1;
    }

    .footer ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
 
    .footer nav ul li a:hover{
        color:  hsl(300, 69%, 71%);
        border-color: hsl(300, 69%, 71%);
    }
}

