
body {
    background: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    /* max-height: 651px; */
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    /* max-width: auto; */
    width: 40%;
    align-self: self-start;
    margin-bottom: 40px;
    margin-top: 20px;
}

.caixa-de-texto .illustration img {
    max-width: 100%;
    margin-bottom: 40px;
}

@media (max-width: 1023px){
    .caixa-de-texto .texto {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding-top: 20px;
    }
}


.caixa-de-texto .texto .font-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 2.8rem;
    letter-spacing: 1px;
}

.caixa-de-texto .texto .font-body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgb(238, 238, 238);
    font-size: 2rem;
    padding-top: 15px;
}

.caixa-de-texto .texto .botao {
    color: hsl(257, 40%, 49%);
    background-color: #fff;
    padding: 15px 100px;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 25px;
    align-self: center;
    justify-content: flex-end;
    font-size: 2rem;
}

.caixa-de-texto .texto .botao:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    box-shadow: 2px 2px 5px #888888;
}

.footer a {
    font-size: 17px;
    padding: 8px;
    color: #fff;
    border: 2px solid #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 8px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer nav ul li a:hover{
    color:  hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
    box-shadow: 2px 2px 5px #888888;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: center;
}

@media (max-width: 414px) and (orientation: portrait) {
    .caixa-de-texto .texto .font-heading {
        font-size: 2rem;
    }

    .caixa-de-texto .texto .font-body {
        font-size: 1.5rem;
    }
    }